@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div>
    <h1 class="text-center">Lista de Vagas</h1>

    <a asp-area="" asp-controller="Vaga" asp-action="Index">Cadastrar vaga</a>
    </div>
}
